<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mylessite.database.mapper.QrtzLocksMapper">
  <resultMap id="BaseResultMap" type="com.jc.mylessite.database.entity.QrtzLocks">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sched_name" jdbcType="VARCHAR" property="schedName" />
    <id column="lock_name" jdbcType="VARCHAR" property="lockName" />
  </resultMap>
</mapper>